.pagina{
	position:absolute;
	width: 1010px;
	height: 650px;
	top: 0px;
	left: 0px;
	color: #00ff00;
	font-family: times;
	font-variant: normal;
	font-weight: normal;
	font-size: 18px;
	font-style: normal;
	background-color: #F8F8F8;
}
h1{
	color:#000000;
	font-size: 35px;
	text-align: center;
	margin-top:0;
	margin-bottom : 0;
	z-index:100;
}
P{
	color:#0f00f0;
	font-size: 10px;
	margin-top:0;
	margin-bottom : 0;
}
.paragrafo_2{
	color:#0f55f0;
	font-size: 10px;
	margin-top:0;
	margin-bottom : 0;
}
.paragrafo_3{
	color:#0f99f0;
	font-size: 10px;
	margin-top:0;
	margin-bottom : 0;
}
