.tabela1 {}
.tabela1 th {
    color:#006699;
    font-weight:bold;
    height:22px;
    font-size:11px;
    font-family: verdana, arial;
    border-bottom:1px #2283BF solid;
    background-color:#EEEEEE;
}
.tabela1 a{
	color:#066ea4;
}
.linhaListagem1{
    background-color: #F4F9FD;
}
.linhaListagem2{
    background-color: #E7F3FB;
}
