* {
	margin: 0;
	padding: 0;
}


body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color:#fafff3;
	background-image: url(../../imagens/temaMec/bg_site.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


h5 {
	background-image: url(../../imagens/temaMec/bg_topo.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 50px;
	margin: 0px;
	padding-top: 45px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
h6 {
	padding-top: 28px;
	*padding-top: 16px;
_padding-top: 6px;
	padding-left:16px;
	padding-bottom:14px;
	font-size:11px;
	text-transform:uppercase;
	color:#006600;
	background-color: #fff;
	background-image: url(../../imagens/temaMec/im_menufundogradiente.gif);
}
