.container4{
	position:relative;
	color: #C0C0C0;
	font-family: times;
	font-variant: normal;
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
}
.container4 .a{
	position:relative;
	background-repeat: repeat-x;
	background-image:url(../imagens/temaPadrao/barra .lilas.png);
	text-align: center;
}
.container4 .b{
	position:relative;
	background-image:url(../imagens/temaPadrao/barra_amarela_e.png);
	text-align: center;
}
.container4 .c{
	position:relative;
	background-image:url(../imagens/temaPadrao/barra_azul_d.png);
	text-align: center;
}
.container4 .d{}
.container4 .e{}
.container4 .f{}
.container4 .g{}
.container4 .h{}
.texto4{
	position:relative;
	background-color: #F0F0F0;
}
