.menu2 {
	float : left;
	width : 180px;
	margin-top: 0px;
	color:#FFFFFF;
	background-color:#050505;
	font-size: 12px;
}
.menu2 h2 {
	padding-bottom: 5px;
	padding-left:5px;
	margin: 0px;
	font-size: 15px;
	color: #FFFFFF;
	padding-top: 0px;
	background-image: url(/imagens/fundo3d.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-weight: bold;
}
.menu2 a{
    color:#c0c0c0;
    text-decoration: none;
}
.menu2 a:visited{
    color:#c5c5c5;
    text-decoration: none;
}
.menu2 ul {
	list-style-position: 3px;
	list-style-type: none; /*remove o marcador*/
	margin: 3px; /*remove o recuo IE e Opera*/
	padding: 3px; /*remove o recuo Mozilla e NN*/
	font: bold 12px arial, helvetica, sans-serif;
}
#menu_rodape{
    display:none;
}