.tabela1 {}
.tabela1 th {
    color:#555555;
    font-weight:bold;
    height:22px;
    font-size:11px;
    font-family: verdana, arial;
    border-bottom:1px #2283BF solid;
    background-color:#FFFFFF;
}
.tabela1 a{
	color:#D0D0D0;
}
.linhaListagem1{
    background-color: #F0F0F0;
}
.linhaListagem2{
    background-color: #FFFFFF;
}
