.tabela0 {
	width: 100%;
}
.tabela0 th {
    color:#555555;
    font-weight:bold;
    height:22px;
    font-size:11px;
    font-family: verdana, arial;
    border-bottom:1px #5A5A5A solid;
    background-color:#FFFFFF;
}
.tabela0 a{
	color:#555555;
}
.linhaListagem1{
    background-color: #C0C0C0;
}
.linhaListagem2{
    background-color: #FFFFFF;
}
