@import url(pagina.css);
@import url(banner.css);
@import url(menu1.css);
@import url(menu2.css);
@import url(menu3.css);
@import url(container0.css);
@import url(container1.css);
@import url(container2.css);
@import url(container3.css);
@import url(container4.css);
@import url(container5.css);
@import url(container6.css);
@import url(container7.css);
@import url(container8.css);
@import url(container9.css);
@import url(rodape.css);
@import url(abas.css);
html{
    background-color:#000000;
    color:#c0c0c0;
}
input{
    background-color:#000000;
    color:#c0c0c0;
}
select{
    background-color:#000000;
    color:#c0c0c0;
}
textarea{
    background-color:#000000;
    color:#c0c0c0;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
a:visited{
    text-decoration: none;
    color:#FFFFFF;
}
#campoObrigatorio{
	font-size:20px;
    color:#FFFFFF;
}