@import url(css/padrao.css) ;
@import url(css/pagina.css) ;
@import url(css/banner.css) ;
@import url(css/menu1.css) ;
@import url(css/menu2.css) ;
@import url(css/menu3.css) ;
@import url(css/abas.css) ;
@import url(css/container0.css) ;
@import url(css/container1.css) ;
@import url(css/container2.css) ;
@import url(css/container3.css) ;
@import url(css/container4.css) ;
@import url(css/container5.css) ;
@import url(css/container6.css) ;
@import url(css/container7.css) ;
@import url(css/container8.css) ;
@import url(css/container9.css) ;
@import url(css/comunicacao.css) ;
@import url(css/rodape.css) ;
@import url(css/tabela0.css) ;
@import url(css/tabela1.css) ;
@import url(css/theme/ui.all.css) ;
.banner{
	display:none;
}
a{
	color:#066ea4;
}
.numerico{
	text-align: right;
}
.data{
	text-align: center;
}
.hora{
	text-align: center;
}
button{
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN-LEFT: -2px;
	VERTICAL-ALIGN: middle;
	CURSOR: default;
	MARGIN-RIGHT: 0px;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: menu 1px solid;
	BACKGROUND-COLOR: menu;


	background	: #00A url(../../imagens/temaMec/im_tdsupcentro.gif);
	color		: #000;
	display		: block;
	text-decoration: none;
}
.lista ul{
	list-style-type: square;
	padding-left: 30px;
}
.campoObrigatorio{
	color: #990000;
	font-size: 16px;
}
h5.h5_hmg {
	background-image:url(../../imagens/bg_topo_hmg.jpg);
}

h5.h5_dev {
	background-image:url(../../imagens/bg_topo_dev.jpg);
}
.opcoesSistema{
	float:right;
	position:relative;
	top:90px;
}
