@import url(css/padrao.css) ;
@import url(css/help.css) ;
@import url(css/pagina.css) ;
@import url(css/banner.css) ;
@import url(css/menu1.css) ;
@import url(css/menu2.css) ;
@import url(css/menu3.css) ;
@import url(css/abas.css) ;
@import url(css/container0.css) ;
@import url(css/container1.css) ;
@import url(css/container2.css) ;
@import url(css/container3.css) ;
@import url(css/container4.css) ;
@import url(css/container5.css) ;
@import url(css/container6.css) ;
@import url(css/container7.css) ;
@import url(css/container8.css) ;
@import url(css/container9.css) ;
@import url(css/comunicacao.css) ;
@import url(css/rodape.css) ;
@import url(css/tabela0.css) ;
@import url(css/tabela1.css) ;
@import url(css/help.css) ;
.numerico{
	text-align: right;
}
.conteudo{
	color:#656565;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	background-image:url(../../imagens/temaMec/bg_conteudo.gif);
	background-repeat:repeat-x;
	height:252px;
	padding-left:4px;
	padding-right:4px;
	padding-top:10px;
	width:724px;
	top: 0px;
}
a{
	color:#526F36;
}
.conteudo h5{
	display:none;
}
.conteudo h6{
	display:none;
}
#menu_topo{
	display:none;
}
.campoObrigatorio{
	color:#FF0000;
	font-size: 16px;
}
input, select {
	border:1px solid #AABF95;
	color:#7E9D60;
	font-size:14px;
	height:18px;
	margin:2px;
	padding:1px;
}
button {
	background-color:#A3C97C;
	color:#FFFFFF;
}
.debugEmail{
	width: 513px;
}
.opcoesSistema{
	float:left;
	position:relative;
	top:0px;
	left:620px;
	height:0px;
}
