.menu1{
	background-color:#FFFFFF;
	float:left;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	width:180px;
}
.menu1 ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu1 ul li {
	background-color:#E4F0D9;
	background-image:url(../img/bg_menu.gif);
	background-repeat:no-repeat;
	clip:rect(0px, auto, auto, auto);
	list-style-type:none;
	margin:0px 0px 0px;
	padding:0px 0px 2px 6px;
	top:0px;
}