.tabela1 {}
.tabela1 th {
    color:#006699;
    font-weight:bold;
    height:22px;
    font-size:11px;
    font-family: verdana, arial;
    border-bottom:1px #e7f3fb solid;
    background-color:#ffffff;
}
.tabela0 a{
	color:#066ea4;
}
.linhaListagem1{
    background-color: #f9faf7;
}
.linhaListagem2{
    background-color: #f1f4ee;
}
