@import url(css/pagina.css);
@import url(css/banner.css);
@import url(css/menu1.css);
@import url(css/menu2.css);
@import url(css/menu3.css);
@import url(css/container0.css);
@import url(css/container1.css);
@import url(css/container2.css);
@import url(css/container3.css);
@import url(css/container4.css);
@import url(css/container5.css);
@import url(css/container6.css);
@import url(css/container7.css);
@import url(css/container8.css);
@import url(css/container9.css);
@import url(css/rodape.css);
@import url(css/abas.css);
html{
    background-color:#000000;
    color:#c0c0c0;
}
input{
    background-color:#000000;
    color:#c0c0c0;
}
select{
    background-color:#000000;
    color:#c0c0c0;
}
textarea{
    background-color:#000000;
    color:#c0c0c0;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
a:visited{
    text-decoration: none;
    color:#FFFFFF;
}