div.menu3 {
/*	background: #E7F3FB; */
	height: 35px;
	font-family: Lucida, Verdana;
	font-size: 10px;
	font-weight: bold;
}
div.menu3 ul {
	clear: both;
	list-style-type: none;
}
div.menu3 ul li {
	float: left;
	padding: 0px 0px;
	z-index:     998;
}
div.menu3 ul li a {
	background	: #fff url('../../imagens/temaSGT/im_fundobtnformulario.gifS');
	border		: 1px #C0C0C0 solid;
	color		: #000;
	display		: block;
	float		: left;
	margin		: 3px 10px;
	padding		: 1px 5px;
	text-decoration: none;
}
