div.help {
	margin: 15px;
	background	: #E7F3FB;
	border		: 1px solid #069;
	margin-bottom: 10px;
	padding-bottom: 20px;
	z-index: 100;

	border-bottom: 1px solid #069;
	color		: #069;
	font-size	: 14px;
	font-weight	: bold;
	margin		: 60px;
	margin-top	: 0px;
	margin-bottom	: 0px;
	padding		: 3px 0px 3px 30px;
	position: relative;
	top: 0px;
}
div.help div.a {
	width: 20px;
	height: 20px;
	/* background: url(../../imagens/temaSGT/im_tdlupapesquisa.gif); */
	position: relative;
	top: 0px;
	left: 5px;
	float: left;
	z-index: 100;
}
