@import url(css/reset.css);
@import url(css/jquery/humanity/jquery-ui-1.8.2.custom.css);
@import url(css/jquery/clickmenu.css);
@import url(css/ie.css);

/*
http://kuler.adobe.com/#themeID/1697105
C28923 - amarelo
737000 - verde escuro
7C8A4C - verde medio
8BA8AD - azul medio
EBFAFF - azul muito claro
*/

* {
	font-family: Calibri;
}

body {
	width: 100%;
	height: 100%;
	background-color: #7C8A4C;
	position: absolute;
}

#pagina {
	height: 100%;
}

/* TOPO */
#topo {
	height: 40px;
	background-color: #737000;
}

#topo span {
	vertical-align: -12px;
	margin-left: 10px;
	font-variant: small-caps;
	font-size: 1.2em;
	word-spacing: .25em;
	color: #FFFFFF;
}

/*MENU*/
.cmDiv {
	background-color: #EBFAFF;
	padding-top: 3px;
	padding-bottom: 3px;
}

.cmDiv .outerbox {
	box-shadow: 5px 5px 1px #737000;
}

ul.innerBox li {
	padding: 4px;
}

/*CONTEÚDO*/
#conteudo {
	margin: 12px;
}

.descricaoDeAjuda {
	margin-bottom: 12px;
}

.container0 h1.ui-state-default {
	/*margin-bottom: 15px;*/
	margin: 5px;
	padding: 2px;
	font-size: 1.1em;
}

.container0 .texto .tabela2 {
	margin: 10px;
}

.container0 .texto #menu_corpo .fc-menu-programa li.fc-menu-item {
	display: inline;
	border: 2px solid #737000;
	border-radius: 20px;
	background-color: #7C8A4C;
	-moz-border-radius: 20px; /* Firefox 3.6 and earlier */
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.container0 .texto #menu_corpo .fc-menu-programa {
	margin: 10px;
}

.container0 .texto #menu_corpo .fc-menu-programa li.fc-menu-item a {
	color: #FFFFFF;
	font-size: .9em;
}

.container0 .texto #menu_corpo .fc-menu-programa li.fc-menu-item a:hover {
	color: #000000;
}

.container0 .texto .container2 {
	margin-top: 30px;
}

/*LISTAGEM*/
.fc-listagem-dados {
	margin: 10px;
	background-color: #EBFAFF;
	border: 1px solid #737000;
}

.fc-listagem-dados thead {
	background-color: #8BA8AD;
}

.fc-listagem-dados thead tr th {
	padding: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000;
	font-weight: bold;
}

.fc-listagem-dados tbody tr td {
	padding: 2px;
	color: #FFF;
	font-weight: normal;
}

.fc-linha1 {
	background-color: #737000;
}
.fc-linha2 {
	background-color: #7C8A4C;
}

/*PAGINADOR*/
.fc-paginador-grupo {
	margin: 10px;
	margin-top: -11px;
	background-color: #EBFAFF;
	border: 1px solid #737000;
	text-align: center;
}

.fc-paginador-opcao, .fc-paginador-opcao-off {
	font-size: .9em;
	margin: 5px;
	border: 2px solid #737000;
	border-radius: 20px;
	background-color: #7C8A4C;
	-moz-border-radius: 20px; /* Firefox 3.6 and earlier */
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.fc-paginador-opcao-off, .fc-paginador-opcao a {
	color: #FFFFFF;
}

.fc-paginador-opcao a:hover {
	color: #000000;
}