/*
div.menu2 {
	background: #e7f3fb url(../../imagens/temaSGT/im_fundoMenuNavegacao.png);
	border-bottom: 20px solid #F5F5F5;
	height: 20px;
	font-family: Lucida, Verdana;
	font-size: 12px;
	font-weight: bold;
}
div.menu2 ul {
	list-style-type: none;
}
div.menu2 ul li {
	float: left;
	padding: 2px 10px;
}
div.menu2 ul li a {
	text-decoration: none;
	color: #000;
}
*/

div.menu2
{
	background:    url(../../imagens/temaSGT/im_fundoMenuNavegacao.png) repeat-x top left; 
	border-top:    1px solid #e7f3fb;
	border-bottom: 1px solid #e7f3fb;
	float:         left;
	font-family:   verdana, arial, sans-serif;
	font-size:     11px;
	margin:        0 0 0 0; /* for this demo only */ 
	width:         100%;
	z-index: 1;
}

div.menu2 ul
{
	list-style-type: none;
	margin:          0;
	padding:         0;
}

div.menu2 ul li
{
	background: url(divider1.gif) no-repeat top right;
	float:      left;
	position:   relative;
}
/*
div.menu2 ul li a, div.menu2 ul li a:visited
{
	/* border-bottom:   3px solid #fff; */
	color:           #000;
	display:         block;
	float:           left;
	height:          20px;
	line-height:     20px;
	padding:         0px 16px;
	text-decoration: none;
}
*/
* html div.menu2 ul li a, div.menu2 ul li a:visited {height:25px; he\ight:20px;}

div.menu2 ul li:hover { width:auto; }
div.menu2 ul li a.menuone:hover  { border-color:#080; color:#0e0; }
div.menu2 ul li a.menutwo:hover   { border-color:#c60; color:#fc0; }
div.menu2 ul li a.menuthree:hover { border-color:#cc0; color:#cc0; }
div.menu2 ul li a.menufour:hover   { border-color:#c00; color:#f88; }
div.menu2 ul li a.menufive:hover  { border-color:#00c; color:#aaf; }
div.menu2 ul li a.menusix:hover   { border-color:#c0c; color:#f8f; }

div.menu2 ul li:hover a.menuone  { border-color:#080; color:#0e0; }
div.menu2 ul li:hover a.menutwo   { border-color:#c60; color:#fc0; }
div.menu2 ul li:hover a.menuthree { border-color:#cc0; color:#cc0; }
div.menu2 ul li:hover a.menufour   { border-color:#c00; color:#f88; }
div.menu2 ul li:hover a.menufive  { border-color:#00c; color:#aaf; }
div.menu2 ul li:hover a.menusix   { border-color:#c0c; color:#f8f; }

div.menu2 ul li ul{
	display: none;
}

div.menu2 table{
	border-collapse: collapse;
	border: 1px;
	font-size:       11px;
	margin:          -1px;
}



/* specific to non IE browsers */
/* especifico para navegadores nao-IE */

div.menu2 ul li:hover ul{
	background     #fff;
	border-bottom: 0px solid #000;
	display:       block;
	left:          0;
	margin-top:    1px; 
	position:      absolute;
	top:           19px;
	width:         164px;
	z-index:       1;
}

div.menu2 ul li:hover ul.endstop { left:-92px; }
div.menu2 ul li:hover ul li ul { display: none; }
div.menu2 ul li:hover ul li a{
	background:    #69C;
	background: #fff url(../../imagens/temaSGT/im_fundomenunavegacao1a.gif);
	border:        1px solid #fff;
	border-bottom: 1px solid #eee;
	color:         #000;
	display:       block;
	height:        auto;
	line-height:   12px;
	padding:       4px 16px; 
	width:         130px;
}

div.menu2 ul li:hover ul li a.drop  { background:#fff url(bullet1.gif) no-repeat 3px 8px; }
div.menu2 ul li:hover ul li a:hover { color:#000; background: #eee url(bullet1.gif) no-repeat 3px 8px; }
div.menu2 ul li:hover ul li a:hover.drop { background: #eee url(bullet1.gif) no-repeat 3px 8px; }
div.menu2 ul li:hover ul li:hover ul { display:block; position:absolute; left:163px; top:-1px; }
div.menu2 ul li:hover ul li:hover ul.left { left:-163px; }

/* specific to IE5.5 and IE6 browsers */
div.menu2 ul li a:hover { background: transparent; }

div.menu2 ul li a:hover ul {
	display:block;position:absolute;top:20px; t\op:19px; background:#fff;left:0; marg\in-top:1px; border-bottom:1px solid #000;
}
div.menu2 ul li a:hover ul.endstop {
	left: -92px;
}
div.menu2 ul li a:hover ul li a {
	display:block;background:#fff;color:#000; height:1px; line-height:15px; padding:4px 16px; width:152px; w\idth:120px; border:1px solid #000; border-bottom:0;
}
div.menu2 ul li a:hover ul li a.drop {
	background:#ccd url(images/bullet1.gif) no-repeat 3px 8px; padding-bottom:5px;
}
div.menu2 ul li a:hover ul li a ul {
	visibility:hidden; position:absolute; height:0; width:0;
}
div.menu2 ul li a:hover ul li a:hover {
	color:#000; background: #ccd url(images/bullet1.gif) no-repeat 3px 8px;
}
div.menu2 ul li a:hover ul li a:hover.drop {
	background: #ccd url(images/bullet1.gif) no-repeat 3px 8px;
}
div.menu2 ul li a:hover ul li a:hover ul {
	visibility:visible; position:absolute; top:0; t\op:-1px; color:#000; left:153px;
}
div.menu2 ul li a:hover ul li a:hover ul.left {
	left:-153px;
}




div.menu2 {
	background: #fff url(../../imagens/temaSGT/im_fundomenunavegacao1.gif);
	height: 23px;
	font-family: Lucida, Verdana;
	font-size: 12px;
	font-weight: normal;
	clear: both;
}
div.menu2 ul {
	list-style-type: none;
}
div.menu2 ul li {
	float: left;
	padding: 0px 0px;
}

div.menu2 ul li a {
	background: #fff url(../../imagens/temaSGT/im_fundomenunavegacao1.gif);
	border		: 1px #69C solid;
	color		: #000;
	display		: block;
	float		: left;
	margin		: 0px 10px;
	padding		: 2px 5px;
	text-decoration: none;
}
