.container1{
	position:relative;
	float : left;
	color: #C0C0C0;
	font-family: times;
	font-variant: normal;
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
}
.container1 h1{
	text-align:center;
	font-size:14px;
}
.container1 p{
	text-align:center;
}
.container1 .titulo{
	width: 100%;
	font-size: 14px;
	color: #FFFFFF;
/* 	position:absolute; */
	background-repeat: repeat-x;
	background:#222;
	background-image:url(../imagens/temaPadrao/barra_verde.png);
	text-align: center;
	z-index:1;
}

.container1 .a{}
.container1 .b{}
.container1 .c{}
.container1 .d{}
.container1 .e{}
.container1 .f{}
.container1 .g{}
.container1 .h{}
.container1 .texto{
	position:relative;
	left: 0px;
	background-color: #121212;
	color:#505050;
}
.linhaListagem1{
	background-color: #151515;
}
.linhaListagem2{
	background-color: #000;
}
div.container1 td.campo1 {
	width: 200px;
	text-align: right;
	font-weight: bold;
}
div.container1 td.campo2 {
	padding-left: 5px;
}
div.container1 #campoObrigatorio{
	display:none;
}